.sidebarChat {
    display: flex;
    padding: 1rem;
    align-items: center;
    font-size: 1rem;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}
.sidebarChat:hover {
    background-color: #3e93fd;
    color: white;
}
.sidebarChat__info {
    margin-left: 1rem;
    width: 100%;
    /* set position relative so that 
    we can target the child small tag with 
    position absolute and it wont act weird*/
    position: relative;
}
.sidebarChat__info > small {
    font-size: 0.75rem;
    position: absolute;
    right: 0;
    top: 0.25rem;
}
